In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

In [2]:
df = pd.read_csv('../data/data1.csv').drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
df.head()

,zcta,state,lat,long,average_household_income,mean_household_income_lowest_quintile,mean_household_income_second_quintile,mean_household_income_third_quintile,mean_household_income_fourth_quintile,mean_household_income_highest_quintile,...,earth_temp,frost_days,earth_temp_amplitude,solar_azimuth_angle,num_systems,total_capacity,mean_system_size,median_system_size,num_incentives,num_policies
0,85610,Arizona,31.744197,109.722324,53713.747228,15735.0,28976.0,41584.0,60403.0,121871.0,...,17.40,3.3,18.02,-100.64,13.0,70.150,5.396154,5.3800,17,12
1,85614,Arizona,31.814301,110.919400,67347.031441,15092.0,33942.0,52059.0,78902.0,156740.0,...,20.51,0.8,18.44,-101.18,1012.0,7015.507,6.932319,5.9850,17,12
2,85624,Arizona,31.504971,110.692999,56508.955224,12085.0,26596.0,40793.0,63481.0,139590.0,...,20.51,0.8,18.44,-101.18,24.0,150.860,6.285833,5.8650,17,12
3,85629,Arizona,31.917838,111.019035,91646.185302,24218.0,55100.0,82356.0,109225.0,187332.0,...,20.51,0.8,18.44,-101.18,1186.0,8934.678,7.533455,7.2975,17,12
4,85630,Arizona,31.886572,110.181046,57186.339381,6123.0,16639.0,37332.0,58660.0,167178.0,...,17.40,3.3,18.02,-100.64,37.0,258.010,6.973243,6.4800,17,12

In [3]:
df['long'] = df['long'] * -1

Just want to explore some of the core visualizations I want in the dashboard. Focus is on exploring the overall system. How the various sub-systems affect each other and make up the overall system.

In [4]:
df[['num_systems', 'total_capacity', 'mean_system_size', 'median_system_size']].replace(to_replace=np.nan, value=0, inplace=True)

/Users/mattcarr/opt/anaconda3/envs/ghg-analysis/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [5]:
df = df.loc[df['household_count'] > 0]

In [6]:
df['solar_density'] = df['total_capacity'] / (df['household_count'] / 1000)

In [7]:
df.columns

Index(['zcta', 'state', 'lat', 'long', 'average_household_income',
       'mean_household_income_lowest_quintile',
       'mean_household_income_second_quintile',
       'mean_household_income_third_quintile',
       'mean_household_income_fourth_quintile',
       'mean_household_income_highest_quintile',
       ...
       'frost_days', 'earth_temp_amplitude', 'solar_azimuth_angle',
       'num_systems', 'total_capacity', 'mean_system_size',
       'median_system_size', 'num_incentives', 'num_policies',
       'solar_density'],
      dtype='object', length=107)